<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %>-乔贝资本</title>
</head>

<body>
  <!--pc top-->
  <%= require('html-loader!./layout/header.html') %>
  <div class="top_90">
    <div class="pz_banner c_banner">
      <img src="<%= require('../public/images/banner_about6789280.jpg').default %>" width="100%" title="" alt=""
        class="visible-lg visible-md">
      <img src="<%= require('../public/images/banner_about_ph1242946.jpg').default %>" width="100%" title="" alt=""
        class="visible-xs visible-sm">
    </div>
    <main class="pz_main minHeight">
      <div class="container">
        <div class="company clearfix">
          <div class="erji wow fadeInUp">
            <div class="erjiTi">
              <h4 class="H4">关于我们</h4>
              <h5 class="H5">about us</h5>
            </div>
            <div class="erjiCon">
              <a href="about.html#about1" target="_self" id="left_42" class="li hd" data-intl="about1">公司简介</a>
              <a href="about.html#about2" target="_self" id="left_26" class="li hd" data-intl="about2">创始人</a>
              <a href="about.html#about3" target="_self" id="left_27" class="li hd" data-intl="about3">核心团队</a>
              <a href="about.html#about4" target="_self" id="left_28" class="li hd" data-intl="about4">企业特色</a>
              <a href="about.html#about5" target="_self" id="left_29" class="li hd" data-intl="about5">资本理念</a>
            </div>
          </div>
          <div class="pageRight">
            <div class="about1 wow fadeInUp bd" id="about1">
              <div class="abTi">
                <h4 class="H4">公司简介</h4>
                <h5 class="H5">Company profile</h5>
              </div>
              <div class="about1D">
                <div class="img"><img src="<%= require('../public/images/j238892534.jpg').default %>" width="100%">
                </div>
                <h4 class="H4" id="title">您值得信赖的伙伴</h4>
                <div class="p">
                  <p id="content"></p>
                </div>
                <div class="h1Box">
                  <h1 class="H1">Company</h1>
                </div>
              </div>
            </div>
            <div class="about2 wow fadeInUp bd" id="about2">
              <div class="abTi">
                <h4 class="H4">公司创始人</h4>
                <h5 class="H5">Company founder</h5>
              </div>
              <div class="senior-managers">
                <article class="senior-managers-list" id="founder">
                
                </article>
              </div>
            <div class="about3 wow fadeInUp bd" id="about3" style="margin-top:20px">
              <div class="abTi">
                <h4 class="H4">核心团队</h4>
                <h5 class="H5">core team</h5>
              </div>
              <ul class="ab3Ul">

                <div>
                  <li class="list">
                    <div class="box">
                      <div class="img"><span class="span"><img
                            src="<%= require('../public/images/j306352737.jpg').default %>" width="100%"></span></div>
                      <h4 class="H4">执行董事</h4>
                      <h5 class="H5" data-intl="about_name01">化 琳</h5>
                      <div class="p" data-intl="about_desc01">
                        执行董事，上海交通大学经济学学士，曾任国信证券上市公司部执行总经理，十余年企业客户服务经验，业务领域涵盖风险投资、股权投资、上市公司融资、并购重组等，具有丰富的投资管理经验。目前专注于生物技术、科技与互联网领域的早期、成长期项目。
                      </div>
                    </div>
                  </li>
                </div>

                <div>
                  <li class="list">
                    <div class="box">
                      <div class="img"><span class="span"><img
                            src="<%= require('../public/images/j321380551.jpg').default %>" width="100%"></span></div>
                      <h4 class="H4">风控总监</h4>
                      <h5 class="H5" data-intl="about_name02">周 睿</h5>
                      <div class="p" data-intl="about_desc02">
                        风控总监，弗吉尼亚理工大学生物系统工程硕士，曾就职国海证券股份有限公司投资银行部，参与过多家公司尽职调查及股份改制工作，具备较为丰富的股权及债权类项目经验，尤其针对生物行业具有较深理解。目前专注于生物技术与互联网领域相关项目。
                      </div>
                    </div>
                  </li>
                </div>

                <div>
                  <li class="list">
                    <div class="box">
                      <div class="img"><span class="span"><img
                            src="<%= require('../public/images/j318793657.jpg').default %>" width="100%"></span></div>
                      <h4 class="H4">投资经理</h4>
                      <h5 class="H5" data-intl="about_name03">姜思丞</h5>
                      <div class="p" data-intl="about_desc03">投资经理，美国福特汉姆大学金融学硕士，中央财经大学经济学学士曾供职于券商研究所，参与过能讯、叠境科技等多家公司的尽职调查，具备良好的研究能力和团队协作能力。
                      </div>
                    </div>
                  </li>
                </div>


              </ul>
            </div>
            <div class="about4 bd" id="about4">
              <div class="abTi wow fadeInUp">
                <h4 class="H4">企业特色</h4>
                <h5 class="H5">Enterprise characteristics</h5>
              </div>
              <ul class="ab4Ul clearfix">

                <li class="list wow flipInY">
                  <div class="box">
                    <span class="ico"><img src="<%= require('../public/images/p275945194.png').default %>"
                        width="100%"></span>
                    <div class="text">
                      <h4 class="H4">企业内部治理</h4>
                      <h5 class="H5">MISSION</h5>
                      <h6 class="H6" data-intl="about_ms01">
                        根据企业不同发展阶段，协助企业逐步建立起规范严谨的财务及内控制度，建立健全完善的法人治理结构及三会制度等，确保企业规范运作，为企业未来进入资本市场打好基础。
                      </h6>
                    </div>
                  </div>
                </li>

                <li class="list wow flipInY">
                  <div class="box">
                    <span class="ico"><img src="<%= require('../public/images/p282128379.png').default %>"
                        width="100%"></span>
                    <div class="text">
                      <h4 class="H4">企业业务结构梳理</h4>
                      <h5 class="H5">GOAL</h5>
                      <h6 class="H6" data-intl="about_ms02">
                        结合企业所处行业，根据企业发展阶段，及时对接相关行业上下游资源（尤以上市公司资源为主），改善企业的客户结构；
                      </h6>
                    </div>
                  </div>
                </li>

                <li class="list wow flipInY">
                  <div class="box">
                    <span class="ico"><img src="<%= require('../public/images/p295332423.png').default %>"
                        width="100%"></span>
                    <div class="text">
                      <h4 class="H4">全面资本市场服务</h4>
                      <h5 class="H5">CORE VALUES</h5>
                      <h6 class="H6" data-intl="about_ms03">
                        乔贝资本承担并协助已投标的后续所有轮次的融资工作，减轻企业负担及减少因企业对资本市场的不理解造成的融资失败、估值不公允等风险；乔贝资本团队在企业发展成熟阶段，在投行、会所、律所进场前即协助企业提前启动
                        IPO 前的规范工作；乔贝资本团队在企业 IPO 过程中，负责帮助企业协调其与中介机构的关系。
                      </h6>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
            <div class="about5 bd" id="about5">
              <div class="abTi wow fadeInUp">
                <h4 class="H4">投资理念</h4>
                <h5 class="H5">Investment philosophy</h5>
              </div>
              <ul class="ab5Ul">

                <li class="list wow flipInY">
                  <div class="box">
                    <h4 class="H4" data-intl="about_ss01">创造价值</h4>
                    <div class="p" data-intl="about_ll01">为客户提供全方面的投后服务，竖持做一家精品投行风格基金管理公同。坚持在战略资源、规范运作及资本市场领域全面深入协助企业，为客户创造价值。</div>
                    <h6 class="num">01</h6>
                  </div>
                </li>

                <li class="list wow flipInY">
                  <div class="box">
                    <h4 class="H4" data-intl="about_ss02">战略资源</h4>
                    <div class="p" data-intl="about_ll02">乔贝资本凭借强大的投行团队，根据客户行业特性、经营现状，为客户对接上下游客户资源，提升公司业务规模，改善企业的客户结构。</div>
                    <h6 class="num">02</h6>
                  </div>
                </li>

                <li class="list wow flipInY">
                  <div class="box">
                    <h4 class="H4" data-intl="about_ss03">规范运作</h4>
                    <div class="p" data-intl="about_ll03">按照IPO标准，协助企业规范操，提升企业的管理水平减少客户上市障碍。</div>
                    <h6 class="num">03</h6>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!--pc footer-->
  <%= require('html-loader!./layout/footer.html') %>
</body>

</html>