<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %>-乔贝资本</title>
</head>

<body>
  <!--pc top-->
  <%= require('html-loader!./layout/header.html') %>

  <div class="pz_banner c_banner">
    <ul class="slide1">
      <div>
        <li class="list">
          <a href="#">
            <img src="<%= require('../public/images/banner7496931.jpg').default %>" width="100%" title="" alt=""
              class="visible-lg visible-md">
            <img src="<%= require('../public/images/banner_ph2393020.jpg').default %>" width="100%" title="" alt=""
              class="visible-xs visible-sm">
          </a>
        </li>
      </div>

      <div>
        <li class="list">
          <a href="#">
            <img src="<%= require('../public/images/banner7496932.jpg').default %>" width="100%" title="" alt=""
              class="visible-lg visible-md">
            <img src="<%= require('../public/images/banner_ph2393021.jpg').default %>" width="100%" title="" alt=""
              class="visible-xs visible-sm">
          </a>
        </li>
      </div>

      <div>
        <li class="list">
          <a href="#">
            <img src="<%= require('../public/images/banner7496933.jpg').default %>" width="100%" title="" alt=""
              class="visible-lg visible-md">
            <img src="<%= require('../public/images/banner_ph2393022.jpg').default %>" width="100%" title="" alt=""
              class="visible-xs visible-sm">
          </a>
        </li>
      </div>

    </ul>
    <span class="tips">Scroll to explore</span>
  </div>
  <main class="pz_main">
    <div class="index1">
      <div class="container clearfix">
        <div class="text wow fadeInLeft">
          <h3 class="H3">TRUSTWORTHY</h3>
          <h4 class="H4">PARTNER</h4>
          <h5 class="H5">关于我们<span class="H6"> / about us</span></h5>
          <span class="img">
            <img src="<%= require('../public/images/p2.png').default %>" width="100%">
          </span>
          <div class="p">
            乔贝资本创立于2016年9月，总部位于上海，于 2017 年 1
            月在中国证券投资基金业协会登记为私募基金管理人（登记编码：P1061185），，是一家专注于股权投资的专业化基金管理公司。自成立以来，乔贝资本锐意进取、秉承专业，在专注投资领域完成布局，树立了专业化的投资风格。
            <br> <br>
            乔贝资本对所有潜在投资机会都持开放态度，并专注于已经拥有投资经验的领域...
          </div>
          <a href="about.html" class="more">了解详情</a>
        </div>
        <div class="pic wow fadeInRight"> <img src="<%= require('../public/images/j26908971.jpg').default %>" width="100%"> </div>
      </div>
    </div>
    <div class="index2">
      <div class="title title2 wow fadeInUp">
        <div class="container">
          <h4 class="H4">Was cast enterprise</h4>
          <h5 class="H5">被投企业</h5>
        </div>
      </div>
      <ul class="index2Ul wow fadeInUp">

        <div>
          <li class="list">
            <a href="4.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j62195898.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">移远通信</h4>
                    <h5 class="H5 elli">(行业分类:科技与互联网)</h5>
                    <div class="p">
                      上海移远通信技术股份有限公司是全球领先的物联网技术的领导者，致力于为全球客户提供一流的无线通信解决方案。公司产品主要应用于无线支付、车载运输、无人驾驶、智能计量、智慧城市、智能安防、无线网关等领域，服务终端客户超过3,000家，分布于全球150多个国家和地区。2016-2018年度移远通信分别实现营业收入5.73亿元、16.6亿元和27亿元，年复合增长率超过67%。2018年公司物联网无线通信模块出货量全球第一，销售规模全球第二。2019年5月，公司通过证监会审核，首发成功过会。
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>

        <div>
          <li class="list">
            <a href="22.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j43410096.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">光通天下</h4>
                    <h5 class="H5 elli">(行业分类:科技与互联网)</h5>
                    <div class="p">
                      光通天下网络科技股份有限公司是国内最早一批进入专业抗DDoS攻击服务领域的网络安全企业之一，公司具备全国7T级云清洗能力，亚太地区DDoS防护领域排名第一；公司单点防御T级水平，国内DDoS防护领域排名第一。
                      光通天下与华为建立联合抗DDoS攻击实验室，公司现已形成以浙江、重庆、广东、陕西、河南、江苏为核心节点的国内骨干网络，与中国电信、中国联通、中国移动等基础电信运营商保持着良好合作关系。公司与国内知名互联网企业建立了业务合作关系，包括：腾讯云、华为云、星云融创（百度子公司）、幻电（哔哩哔哩）、网宿科技、金山云、盛大比格云等。公司于2019年5月向上交所科创板提交申报材料，顺利上市后将成为国内网络安全DDoS防护领域第一股。
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>

        <div>
          <li class="list">
            <a href="63.htm">
              <img src="<%= require('../public/images/500--upload-images-20190819-j146717419.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">Video++</h4>
                    <h5 class="H5 elli">(行业分类:人工智能)</h5>
                    <div class="p">
                      链网络科技有限公司（“Video++”）为人工智能+文化娱乐产业的科技独角兽企业。Video++深耕以文娱为基础的计算机视觉技术的自主研发，经过迭代升级，构筑了强大的技术壁垒。Video++人脸识别率高达99.9%，其他场景识别率均高于95.0%。公司的AI算力也进一步升级达到1,590万亿次/秒，远超同行业水平；公司AI团队在2018、2019连续两年Google地标识别挑战赛中获得冠军。Video++主营业务为视频AI广告、视频电商和互动娱乐，已与优酷、爱奇艺、芒果、抖音等国内65%视频流量平台合作。Video++AI营销平台服务逾百家品牌广告主，与数千家品牌商、视频应用、供应链建立合作。
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>

        <div>
          <li class="list">
            <a href="62.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j131862127.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">叠境数字</h4>
                    <h5 class="H5 elli">(行业分类:人工智能)</h5>
                    <div class="p">
                      叠境数字科技（上海）有限公司（DGene）拥有全球领先的光场和人工智能技术，首创了独特的动态光场拍摄系统和云端处理服务，应用于虚拟现实、增强现实、三维重建、安防布控等领域，也是目前国内唯一一家能提供动态真人三维模型拍摄技术的公司。公司拥有16项发明专利，8项软件著作权。公司核心团队包括上海科技大学虞教授、麻省理工大学杨博士、微软研究院前首席研究员马博士、3D成像领域专家洪煦。
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>

        <div>
          <li class="list">
            <a href="1.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j62195895.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">苏州能讯</h4>
                    <h5 class="H5 elli">(行业分类:半导体)</h5>
                    <div class="p">
                      苏州能讯高能半导体有限公司是目前中国唯一一家以IDM模式自主生产第三代半导体氮化镓芯片及射频功放管（应用于5G基站建设）的公司，产品性能名列全球前三。截至2018年底，公司在氮化镓射频器件领域共拥有279件专利申请，其中国际专利71件。专利布局完整，覆盖整条生产环节，拥有数量全球排名第三，仅次于美国科锐（Cree）与日本住友（Sumitomo）。能讯半导体作为国内第一家氮化镓芯片及功放管的民营供应商，目前客户包括中兴通讯、大唐移动等，未来公司规模将伴随5G建设发展迎来高速增长。
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>
        <div>
          <li class="list">
            <a href="11.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j62195899.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">引航生物</h4>
                    <h5 class="H5 elli">(行业分类:生物技术)</h5>
                    <div class="p">
                      苏州引航生物科技有限公司创始人谢新开博士为资深科学家，加州大学洛杉矶分校化学和生物工程博士，加州伯克利大学博士后，美国绿色化学总统挑战奖的获得者。公司核心团队在合成生物学、代谢工程、酶工程和绿色化学及其产业化方面积累了丰富的研发和产业化经验，目前共申请25项发明专利（含5项PCT专利，已取得3项专利授权），开发了40余种酶制剂产品，建立了千余种酶种资源库和自动化高通量筛选工作站。乔贝资本在首轮投资3500万元后，于2019年6月追加投资3000万元。
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>
        <div>
          <li class="list">
            <a href="42.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j54869834.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">丰科生物</h4>
                    <h5 class="H5 elli">(行业分类:生物技术)</h5>
                    <div class="p">
                      上海丰科生物科技股份有限公司，专业从事食用菌的研发、生产、加工和销售，公司股东包括行业权威机构“上海市农业科学院”，并获得“全国食用菌行业最具影响力企业”、“高新技术企业”、“上海市知识产权示范企业”等荣誉称号。公司具有10多年蟹味菇、白玉菇栽培技术经验，目前产能已达国内第一，且市场占有率长年居全国首位。公司生产的蟹味菇、白玉菇营养丰富，无人工添加剂，
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>
        <div>
          <li class="list">
            <a href="3.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j62195897.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">依依股份</h4>
                    <h5 class="H5 elli">(行业分类:消费升级)</h5>
                    <div class="p">
                      天津依依卫生用品股份有限公司是目前亚洲最大的宠物垫生产厂商，公司在宠物用品、护理领域深耕20余年，拥有丰富的研发、生产以及销售经验。公司的主营产品以宠物用品为主、成人护理用品为辅。公司生产规模亚洲排名第一，作为与品牌制造商、贸易商、零售商直接对接的宠物用品生产厂商，公司的主要产品通过沃尔玛、亚马逊、日本伊藤、日本山善、PETSMART
                      INC、伊藤百货等大型零售商销往包括美、日、欧、东南亚等四十多个国家地区。</div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>
        <div>
          <li class="list">
            <a href="2.htm">
              <img src="<%= require('../public/images/500--upload-images-20190821-j62195896.jpg').default %>" width="100%">
              <div class="imgOn">
                <div class="text2 clearfix">
                  <span class="ico"><img src="<%= require('../public/images/p68889474.png').default %>"></span>
                  <div class="text3">
                    <h4 class="H4 elli">微能科技</h4>
                    <h5 class="H5 elli">(行业分类:消费升级)</h5>
                    <div class="p">
                      浙江微能科技有限公司是目前国内最大的积分服务运营商之一，主要业务版块包括泛积分O2O运营、聚合支付、精准营销以及企业福利积分计划。微能科技上游客户包括三大移动运营商、多家全国性银行及众多地方性银行、上市公司、保险公司、航空公司等。下游拥有肯德基（全国独家）、星巴克、Costa咖啡等众多国际、国内一线品牌商户资源，商户资源超过万家。同时，公司被指定为全体党员学习APP“学习强国”唯一积分运营商。公司深耕积分消费领域，并将持续开拓包括企业采购、互联网平台、支付出行及福利平台业务，未来希望打造全产业全渠道通兑积分平台，从而将积分价值最大化。
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </div>

      </ul>
    </div>
    <div class="index3">
      <div class="container">
        <div class="title wow fadeInUp">
          <h4 class="H4">news Industry </h4>
          <h5 class="H5">新闻动态</h5>
        </div>
        <ul class="in3Ul wow fadeInUp">

          <div>
            <li class="list">
              <a href="94.htm">
                <img src="<%= require('../public/images/602--upload-images-20190821-j91576410.jpg').default %>" width="100%">
                <div class="text">
                  <h4 class="H4 elli">诺奖得主朱棣文：生命如此短暂，要对你所爱倾注深情</h4>
                  <div class="p">要感谢你的父母和支持你的朋友，要感谢那些启发过你的教授，尤其要感谢那些上不好课的教授，因为他们迫使你自学。从整体看，自学能力是的文科教育中必不可少的，将成为你成功的关键。…
                  </div>
                  <h5 class="time" data-date="2019-08-19"><span class="day">28</span>2018.02</h5>
                  <h6 class="H6"><span class="span">learn more</span><span class="ico"></span></h6>
                </div>
              </a>
            </li>
          </div>

          <div>
            <li class="list">
              <a href="72.htm">
                <img src="<%= require('../public/images/602--upload-images-20190820-j77631209.jpg').default %>" width="100%">
                <div class="text">
                  <h4 class="H4 elli">诺奖得主朱棣文：生命如此短暂，要对你所爱倾注深情</h4>
                  <div class="p">要感谢你的父母和支持你的朋友，要感谢那些启发过你的教授，尤其要感谢那些上不好课的教授，因为他们迫使你自学。从整体看，自学能力是的文科教育中必不可少的，将成为你成功的关键。…
                  </div>
                  <h5 class="time" data-date="2019-08-19"><span class="day">28</span>2018.02</h5>
                  <h6 class="H6"><span class="span">learn more</span><span class="ico"></span></h6>
                </div>
              </a>
            </li>
          </div>

          <div>
            <li class="list">
              <a href="48.htm">
                <img src="<%= require('../public/images/602--upload-images-20190820-j77631209.jpg').default %>" width="100%">
                <div class="text">
                  <h4 class="H4 elli">诺奖得主朱棣文：生命如此短暂，要对你所爱倾注深情</h4>
                  <div class="p">要感谢你的父母和支持你的朋友，要感谢那些启发过你的教授，尤其要感谢那些上不好课的教授，因为他们迫使你自学。从整体看，自学能力是的文科教育中必不可少的，将成为你成功的关键。…
                  </div>
                  <h5 class="time" data-date="2019-08-19"><span class="day">28</span>2018.02</h5>
                  <h6 class="H6"><span class="span">learn more</span><span class="ico"></span></h6>
                </div>
              </a>
            </li>
          </div>

          <div>
            <li class="list">
              <a href="27.htm">
                <img src="<%= require('../public/images/602--upload-images-20190821-j81835831.jpg').default %>" width="100%">
                <div class="text">
                  <h4 class="H4 elli">诺奖得主朱棣文：生命如此短暂，要对你所爱倾注深情</h4>
                  <div class="p">要感谢你的父母和支持你的朋友，要感谢那些启发过你的教授，尤其要感谢那些上不好课的教授，因为他们迫使你自学。从整体看，自学能力是的文科教育中必不可少的，将成为你成功的关键。…
                  </div>
                  <h5 class="time" data-date="2019-08-19"><span class="day">28</span>2018.02</h5>
                  <h6 class="H6"><span class="span">learn more</span><span class="ico"></span></h6>
                </div>
              </a>
            </li>
          </div>

          <div>
            <li class="list">
              <a href="5.htm">
                <img src="<%= require('../public/images/602--upload-images-20190821-j91576410.jpg').default %>" width="100%">
                <div class="text">
                  <h4 class="H4 elli">诺奖得主朱棣文：生命如此短暂，要对你所爱倾注深情</h4>
                  <div class="p">要感谢你的父母和支持你的朋友，要感谢那些启发过你的教授，尤其要感谢那些上不好课的教授，因为他们迫使你自学。从整体看，自学能力是的文科教育中必不可少的，将成为你成功的关键。…
                  </div>
                  <h5 class="time" data-date="2019-08-19"><span class="day">28</span>2018.02</h5>
                  <h6 class="H6"><span class="span">learn more</span><span class="ico"></span></h6>
                </div>
              </a>
            </li>
          </div>

        </ul>
      </div>
    </div>
  </main>
  <!--pc footer-->
  <%= require('html-loader!./layout/footer.html') %>
</body>

</html>