<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %>-乔贝资本</title>
</head>

<body>
  <!--pc top-->
  <%= require('html-loader!./layout/header.html') %>
  <div class="top_90">
    <div class="pz_banner c_banner">
      <img src="images/banner_join4098685.jpg" width="100%" title="" alt="" class="visible-lg visible-md">
      <img src="images/banner_join_ph4549323.jpg" width="100%" title="" alt="" class="visible-xs visible-sm">
    </div>
    <main class="pz_main minHeight">
      <div class="container">
        <div class="company clearfix">
          <div class="erji wow fadeInUp">
            <div class="erjiTi">
              <h4 class="H4">加入我们</h4>
              <h5 class="H5"></h5>
            </div>
            <div class="erjiCon">
              <a href="join.html" target="_self" id="left_7" class="li hd on">招聘信息</a>
              <a href="contact.html" target="_self" id="left_6" class="li hd">联系我们</a>
            </div>
          </div>
          <div class="pageRight">
            <ul class="joinList">
              <li class="list wow fadeInUp animated">
                <div class="listTop listTop1 clearfix">
                  <h1 class="H1 H11">职位名称</h1>
                  <h1 class="H1 H12">职位数量</h1>
                  <h1 class="H1 H13">学历</h1>
                  <h1 class="H1 H14">工作地点</h1>
                  <h1 class="H1 H15">发布时间</h1>
                </div>
              </li>

              <li class="list  wow fadeInUp">
                <div class="listTop clearfix">
                  <h1 class="H1 H11 elli">投资管理部实习生</h1>
                  <h1 class="H1 H12 elli">1</h1>
                  <h1 class="H1 H13 elli">本科及以上</h1>
                  <h1 class="H1 H14 elli">上海</h1>
                  <h1 class="H1 H15 elli">2018-04-29</h1>
                  <div class="rBt"><span class="span"></span></div>
                </div>
                <div class="listDown clearfix">
                  <div class="textLeft">
                    <h1 class="H1">岗位描述：</h1>
                    <div class="p">
                      <p>1、研究宏观政策、海内外宏观经济形势等。<br />
                        2、协助部门收集行业信息，跟踪最新业态、对拟投资行业进行深入研究分析，完成相关课题，并形成研究报告； <br />
                        3、协助业务部门对标的企业进行可行性研究和分析，协助制作商业计划书等；<br />
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;<br />校园招聘应聘方式：<br />求职者可将简历通过附件的形式，发送至<a href="/cdn-cgi/l/email-protection"
                          class="__cf_email__"
                          data-cfemail="f09882b093989f92959391809984919cde939e">[email&#160;protected]</a>。<br />邮件主题及附件名称统一为：姓名-专业-学校（2019校园招聘）。
                      </p>
                    </div>
                  </div>
                  <div class="textRight">
                    <h1 class="H1">任职要求：</h1>
                    <div class="p">
                      <p>1、国内重点院校在校研究生，世界排名前50或者专业排名前10的硕士留学生，信息工程、生物医药、经济类、法律等专业优先考虑。<br />
                        2、具有一定宏观经济知识基础、较强的文字表达和数据处理能力；对研究分析感兴趣，吃苦耐劳，学习能力、时间管理能力强；<br />
                        3、具有良好的团队合作意识和敬业精神；</p>

                    </div>
                  </div>
                  <a href="/cdn-cgi/l/email-protection#5038221033383f32353331203924313c7e333e6f2325323a3533246db6dac5b8e5d4b7fef1b7c0d6b9d3f8b5feceb4e9f0b7c4cf"
                    class="more">申请职位</a>
                </div>
              </li>

              <li class="list  wow fadeInUp">
                <div class="listTop clearfix">
                  <h1 class="H1 H11 elli">投资管理部 生物医药行业投资经理</h1>
                  <h1 class="H1 H12 elli">1</h1>
                  <h1 class="H1 H13 elli">本科及以上</h1>
                  <h1 class="H1 H14 elli">上海</h1>
                  <h1 class="H1 H15 elli">2018-04-20</h1>
                  <div class="rBt"><span class="span"></span></div>
                </div>
                <div class="listDown clearfix">
                  <div class="textLeft">
                    <h1 class="H1">岗位描述：</h1>
                    <div class="p">
                      <p>1、负责项目投资，包括项目收集、项目初审、尽职调查、可行性论证、提出投资建议、设计投资方案、落实投资过程；<br />
                        2、负责已投企业的跟踪管理，熟悉已投企业的经营管理战略，掌握融资资金使用方向，解决经营过程中遇到的困难和问题，规划投资项目的安全退出方案；<br />
                        3、负责相关行业宏观政策、市场动态、发展趋势的分析研究，提出研究分析报告；<br />
                        4、负责投资业务及方案设计的创新研究；<br /> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp;
                        &nbsp; &nbsp;<br />社会招聘应聘方式：<br />求职者可将简历通过附件的形式，发送至<a href="/cdn-cgi/l/email-protection"
                          class="__cf_email__"
                          data-cfemail="ff978dbf9c97909d9a9c9e8f968b9e93d19c91">[email&#160;protected]</a>，<br />邮件标题为：“应聘岗位+姓名”。
                      </p>
                    </div>
                  </div>
                  <div class="textRight">
                    <h1 class="H1">任职要求：</h1>
                    <div class="p">
                      <p>1、具有私募股权基金、投资银行等相关工作经验二年以上；<br />
                        2、有医学、生物学等相关教育背景，或有医疗健康产业行业经验的优先考虑；<br />
                        3、国内重点大学本科及以上学历，工作积极主动、责任感强，有较强的学习能力；</p>
                    </div>
                  </div>
                  <a href="/cdn-cgi/l/email-protection#deb6ac9ebdb6b1bcbbbdbfaeb7aabfb2f0bdb0e1adabbcb4bbbdaae338544b366b5a39707f394e58375d76fe394a413957773b5265365371367f523a664438544b366b5a396551394e58"
                    class="more">申请职位</a>
                </div>
              </li>

            </ul>
            <div class="paging wow zoomIn">

              <a class="pageup"></a>
              <a class="hover a">1</a><span class="aPh">1/1</span>
              <a class="pagedown"></a>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!--pc footer-->
  <%= require('html-loader!./layout/footer.html') %>
</body>

</html>