<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %>-乔贝资本</title>
</head>

<body>
  <!--pc top-->
  <%= require('html-loader!./layout/header.html') %>
  <div class="top_90">
    <div class="pz_banner c_banner">
      <img src="images/banner_join4098685.jpg" width="100%" title="" alt="" class="visible-lg visible-md">
      <!-- <img src="images/banner_join_ph4549323.jpg" width="100%" title="" alt="" class="visible-xs visible-sm"> -->
    </div>
    <main class="pz_main minHeight">
      <div class="container">
        <div class="company clearfix">
          <div class="erji wow fadeInUp">
            <div class="erjiTi">
              <h4 class="H4" data-intl="join_us">加入我们</h4>
              <h5 class="H5"></h5>
            </div>
            <div class="erjiCon">
              <a href="join.html" target="_self" id="left_7" class="li hd on" data-intl="join1">招聘信息</a>
              <a href="contact.html" target="_self" id="left_6" class="li hd" data-intl="join2">联系我们</a>
            </div>
          </div>
          <div class="pageRight">
            <ul class="joinList" id="joinList">
            
            </ul>
            <div class="paging wow zoomIn">

              <a class="pageup"></a>
              <a class="hover a">1</a><span class="aPh">1/1</span>
              <a class="pagedown"></a>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!--pc footer-->
  <%= require('html-loader!./layout/footer.html') %>
</body>

</html>