<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %>-乔贝资本</title>
</head>

<body>
  <!--pc top-->
  <%= require('html-loader!./layout/header.html') %>
  <div class="pz_banner c_banner">
    <img src="images/news/banner_new6682973.jpg" width="100%">
    <!-- <img src="images/news/banner_new_ph7256952.jpg" width="100%" title="" alt="" class="visible-xs visible-sm"> -->
  </div>
  <div class="top_90">
    <main class="pz_main minHeight">
      <!-- <script src="views.ashx-id=48&table=pz_news.js"></script> -->
      <div class="container">
        <div class="company clearfix">
          <%= require('html-loader!./layout/sider.html') %>
          <div class="pageRight">
            <div class="newsDe">
              <div class="newText">
                <h1 class="H1 wow fadeInUp" id="title">诺奖得主朱棣文：生命如此短暂，要对你所爱倾注深情</h1>
                <div class="newTextDiv clearfix wow fadeInUp" id="news_header">

                </div>
                <div class="newTextCon wow fadeInUp" id="news_content">
                </div>
                <div class="share wow fadeInUp">
                  <div class="bdsharebuttonbox"><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a
                      href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone"
                      data-cmd="qzone" title="分享到QQ空间"></a></div>
                </div>
                <div class="pageA clearfix wow fadeInUp" id="gl_list">
                </div>
                <div class="aboutNewBox wow fadeInUp">
                  <h2 class="H2">相关新闻</h2>
                  <ul class="aboutNew clearfix" id="xg_list">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'https://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
  <!--pc footer-->
  <%= require('html-loader!./layout/footer.html') %>
</body>

</html>