<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %>-乔贝资本</title>
</head>

<body>
  <!--pc top-->
  <%= require('html-loader!./layout/header.html') %>
  <div class="top_90">
    <div class="pz_banner c_banner">
      <img src="images/banner_new6682974.jpg" width="100%" title="" alt="" class="visible-lg visible-md">
      <img src="images/banner_new_ph7256952.jpg" width="100%" title="" alt="" class="visible-xs visible-sm">
    </div>
    <main class="pz_main minHeight">
      <div class="container">
        <div class="company clearfix">
          <div class="erji wow fadeInUp">
            <div class="erjiTi">
              <h4 class="H4" data-intl="QB_welfare">乔贝公益</h4>
              <h5 class="H5"></h5>
            </div>
            <div class="erjiCon">
            </div>
          </div>
          <div class="pageRight">
            <div class="text2">
              <p  data-intl="welfare">
                有人说：“做公益的意义在于寻找生命的内在价值”，而提到公益总是让人不自觉地想到贫困地区的儿童，儿童是未来社会发展的希望，山区儿童却因为生活环境导致教育资源有限。乔贝资本一直怀有一份愿景，渴望能够担起这份社会责任，陪伴那些生活艰苦却依然努力学习的儿童一起成长，相信未来他们会更好地回馈社会，实现自我价值。公司目前正在设立慈善信托、寻找具有影响力的儿童公益项目，后续我司会陆续报道，敬请期待。
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!--pc footer-->
  <%= require('html-loader!./layout/footer.html') %>
</body>

</html>