<footer class="footBox bottom">
  <div class="index4">
    <h4 class="H4" data-intl="footer_01">欢迎您和我们开展合作 请联系我们</h4>
    <h5 class="H5" data-intl="footer_02">Welcome to cooperate with us, please contact us</h5>
    <div class="footer_address">
      <div class="footer_address_left">
        <div>
          <label data-intl="address"></label>
          <span data-intl="addressStr"></span>
        </div>
        <div>
          <label data-intl="tel"></label>
          <span>+86-021-80317693</span>
        </div>
        <div>
          <label data-intl="email"></label>
          <span>
            <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
              data-cfemail="cca1adbfb8a9be8cafa4a5a2ada6a2bfe2afa3a1">qbzb@chobecapital.cn</a>
          </span>
        </div>
      </div>
      <div>
        <span class="img"><img src="../../public/images/weixin.jpg" width="100%"></span>
      </div>
    </div>
  </div>

  <div class="cr">
    <div class="p">© 2019 乔贝资本 ALL RIGHTS RESERVED.</div>
    <div class="p"> <a href=" http://beian.miit.gov.cn/">沪ICP备19037793号-1</a>-</div>
  </div>
</footer>
<div class="frBox"></div>
<div class="bNavPh">
  <a href="index.html">
    <span class="ico">
      <img src="../../public/images/indexPh.png" width="100%">
    </span>
  </a>
  <a href="javascript:;">
    <span class="ico">
      <img src="../../public/images/weixinPh.png" width="100%">
    </span>
    <div class="ewm"><img src="../../public/images/weixin.jpg" width="100%"></div>
  </a>
  <a href="tel:86-021-80317693">
    <span class="ico">
      <img src="../../public/images/phonePh.png" width="100%"></span>
  </a>
  <a href="#" class="divBox">
    <span class="ico">
      <img src="../../public/images/upPh.png" width="100%">
    </span>
  </a>
</div>
<div class="divBox up_n" style="display: block;"></div>