<header class="top1">
  <div class="container clearfix">
    <div class="logo">
      <a href="index.html">
        <img src="../../public/images/logo2726621.jpg" width="100%" title="" alt=""></a>

    </div>
    <div class="lang">
      <a href="javascript:void(0)" id="switchCN">中文</a>
      <a href="javascript:void(0)" id="switchEN">EN</a>
    </div>
    <div class="menu_box" id="topMenu">
    </div>
  </div>
</header>
<header class="top2 clearfix active">
  <div class="container clearfix">
    <div class="menuph clearfix" id="menuph">
      <div class="point" id="mbtn"> <span class="navbtn"></span> </div>
    </div>
    <div class="logo"><a href="indexen.htm">
        <img src="../../public/images/logo2726621.jpg" width="100%" title="" alt=""></a>
    </div>
  </div>
</header>

<div class="xialaph">
  <ul class="ul1" id="topPhoneMenu">

  </ul>
  <div class="lang langPh">
    <a href="javascript:void(0)" id="switchPhoneCN">中文</a>
      <a href="javascript:void(0)" id="switchPhoneEN">EN</a>
  </div>
</div>
<div class="phonemeng"></div>